<h1>Edit Action:</h1>


<% if flash[:error] %>
<div class="errors flash fatal">
   <h3 class="error"><%= flash[:error] %>
   </div>
   <% end %>
   
<div class="form-container">
<h1>What have you done today to prevent our planet?</h1>
    <h2>Please fill the form</h2>

    <form action="/actions/<%= @action.id %>" method="POST" >
    <input id="hidden" type="hidden" name="_method" value="patch">
   
    <div class="mb-1 row">
        <div class="col-md-1">
            <label for="name">Name</label>
         </div>
         <div class="col-md-1">
            <input type="text" name="action[name]" id="name" value="<%= @action.name %>" required><br>
         </div>
    </div>

    <div class="mb-1 row">
        <div class="col-md-1">
            <label for="title">Title</label>
         </div>
         <div class="col-md-1">
            <input type="text" name="action[title]" id="title" value="<%= @action.title %>" required><br>
         </div>
    </div>

    <div class="mb-1 row">
        <div class="col-md-1">
           <label for="description">Description</label>
         </div>
         <div class="col-md-1">
            <input type="text" name="action[description]" id="description" value="<%= @action.description %>" required><br>
         </div>
    </div>
   
    <div class="mb-1 row">
         <div class="col-md-1">
            <label for="fact">Fact</label>
         </div>
         <div class="col-md-1">
            <input type="text" name="action[fact]" id="fact" value="<%= @action.fact %>" required><br>
         </div>
    </div>
    
    <div class="mb-1 row">
         <div class="col-md-1">
            <label for="image">Image</label>
         </div>
         <div class="col-md-1">
            <input type="file" name="action[image]" id="image" value="<%= @action.image %>"><br>
         </div>
      </div>
  
    
    <input type="submit" class="btn btn-success" value="Update"/ >

    </form>
    </div>


    
    
   