
<h2> Daily Action </h2>

<h3>Action Name: <%= @action.name %></h3>
<h3>Action Title: <%= @action.title %></h3>
<h3>Description: <%= @action.description %></h3>
<h3>Fact: <%= @action.fact %></h3>
<h3>Image <%= @action.image %></h3>
